@font-face {
	font-family: 'Shelby';
	src: url(./fonts/Shelby.otf);
}
@font-face {
    font-family: 'Marugame';
    src: url(./fonts/marugame.otf);
}

body {
    margin:0;
    padding:0;
    background: #eee9e6;
}

h2 {
    font-family: 'Shelby';
    font-size: 4rem;
    font-weight: 200;
    width: 100%;
}
#contents{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eee9e6;
}

#header {
    margin: auto;
    width: 60%;
}

#header img{
    width: 100%;
}
.content {
    width: 70%;
    margin: 0 auto;
}
#what{
    position: relative;
    background: #eee9e6;
    margin: 5% 0;
}

.sample {
    width: 70%;
    margin: 10% auto;
    font-family: 'Marugame'
}
#how{
    position: relative;
    width: 100%;
    height: 60%;
    background: #eee9e6;
    margin: 5% 0;
}
#logos {
    text-align: center;
    width: 15%;
    height: 100px;
    float: left;
    margin: 5%;
}



#logos p{
    font-family: 'Marugame';
    font-size: 1.3rem;
}

#why{
    position: relative;
    width: 100%;
    height: 50%;
    background: #eee9e6;
    margin: 5% 0;
}
.schedule p{
    font-family: 'Marugame';
    font-size: 1.3rem;
}

.schedule h3{
    font-family: 'Marugame';
    font-size: 1.5rem;
    margin-top: 40px; 
}

.do p{
    font-family: 'Marugame';
    font-size: 1.3rem;
}

.do h3{
    font-family: 'Marugame';
    font-size: 1.5rem;
    margin-top: 40px; 
}

#instructor{
    position: relative;
    width: 100%;
    background: #eee9e6;
    margin: 5% 0;
}
.instructor-table{
    overflow: auto;
    text-align: center;
    width: 100%
}

.instructor {
    float: left;
    width: 30%;
    min-width: 250px;
    margin-left: 10%;
    margin-right: 10%;
}

.instructor h3{
    font-family: 'Shelby';
    font-weight: 100;
    font-size: 3rem;
    line-height: 0;
}

.instructor p{
    font-family: 'Marugame';
    font-size: 1.3rem;
}

#footer{
    position: relative;
    width: 100%;
    height: 5px;
    background: #eee9e6;
    margin-top:200px;
    float: left;
}

#footer h2{
    text-align: center;
}

#footer img {
    margin: 2% 35%;
    bottom: 0;
}